/*
----BACKGROUND----

	background-color: color;

	background-image: url();

	background-size: x, y, auto, cover, contain;

	background-position: left - top - bottom - right 
- center ++ left - top - bottom - right - center

	background-attachment: scroll | fixed | inherit;

	background-clip: border-box | padding-box | content-box;

	background-origin: origen del a foto (valores de arriba);

*/
 
 .caja1 {
 	background: #08a;
 	padding: 20px;
 	margin: 40px;
 	height: 360px;
 	width: 360px;
 	border: 10px solid #000;
 	background-image: url('leon.jpeg');
 	background-size: contain;
 	background-repeat: repeat;
 	background-position: center;
 	background-clip: border-box;
 	background-attachment: fixed;
 }



