/*
----DIRECTION---- 
*/
* {
	scroll-behavior: smooth;
	font-size: 25px;
}

body {

	scroll-behavior: smooth;
}

.container {
	padding: 20px;
	background: #05f;
	font-size: 25px;
	letter-spacing: 3px;
	direction: rtl;
}

b {
	letter-spacing: 10px;
}

a {
	padding: 20px;
}

.content {
	padding: 20px;
}

#content2 {
	background: #f00;
	padding: 20px;
	user-select: none;
}


